Error decode manifest
java.io.IOException: Decode error: attrValSize != 0x08 not supported, position: 0x1a2b6
	at jadx.core.xmlgen.CommonBinaryParser.die(CommonBinaryParser.java:97)
	at jadx.core.xmlgen.BinaryXMLParser.parseAttribute(BinaryXMLParser.java:293)
	at jadx.core.xmlgen.BinaryXMLParser.parseElement(BinaryXMLParser.java:283)
	at jadx.core.xmlgen.BinaryXMLParser.decode(BinaryXMLParser.java:143)
	at jadx.core.xmlgen.BinaryXMLParser.parse(BinaryXMLParser.java:102)
	at jadx.api.ResourcesLoader.loadContent(ResourcesLoader.java:97)
	at jadx.api.ResourcesLoader.lambda$loadContent$0(ResourcesLoader.java:82)
	at jadx.api.ResourcesLoader.decodeStream(ResourcesLoader.java:71)
	at jadx.api.ResourcesLoader.loadContent(ResourcesLoader.java:82)
	at jadx.api.ResourceFile.loadContent(ResourceFile.java:60)

